body {
    background-image: url(../images/partlySunnyBackground.png);
    background-repeat: repeat;
    background-size: cover;
}
ul {
    list-style: none;
    line-height: 20px;
    padding: 10px 0px;
    display: block;
}
footer {
    text-align: center;
    font-size: 13px;
}
p {
   margin: auto; 
}
ul,
#weather-information {
    margin: auto auto 0;
    vertical-align: auto;
    line-height: 22px;
}
form,
#search-city-input,
#search-button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 3px 5px;
}
.container {
    background-color: white;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
}
.btn {
    color: black;
    background-color: white;
    border: none;
    padding: 1px;
}
.btn :hover {
    background-color: white;
    color: blue;
}
.image {
    position: relative;
    width: 300px;
}
image__img {
    display: block;
    width: 100%;

}
.image__overlay {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    color: #000022;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.image__overlay:hover {
    opacity: 1;
}
.image__title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #3185FC;
}


.card.card-body {
    padding: 10px;
    background-color: lightgray;
    font-family: 'Work Sans', sans-serif;
    border: none;
}

.card {
    border: none;
    border-radius: 5px;
}
#this-week-button {
    text-decoration: none;
}
#current-temperature {
    font-size: 80px;
    padding: 20px auto;
    font-weight: bold;
    
}
#min-temperature {
    color: #3185FC;
}
#max-temperature {
    color: #28965A;
}
#week-forecast {
    align-items: center;
    justify-content: center;
    display: block;
    margin: auto;
    text-align: center;
    padding: 3px;
    margin: 5px;
    line-height: 25px;
    background-color: white;
}